<div class='basic-grey'>
<p id="notice"><%= notice %></p>

<h1><%="#{t('messages.listing')} #{Adress.model_name.human(count: @adresses.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= @adresses.model.human_attribute_name("street")%></th>
      <th>Cidade</th>
      <th>State</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.street %></td>
        <td><%= adress.city %></td>
        <td><%= adress.state %></td>
        <td><%= adress.contact.name %></td>
        <td><%= link_to t('buttons.show'), adress %></td>
        <td><%= link_to t('buttons.edit'), edit_adress_path(adress) %></td>
        <td><%= link_to t('buttons.destroy'), adress, method: :delete, data: { confirm: t('messages.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.new'), new_adress_path %>
<%= link_to t('buttons.back'),root_path %>

</div>
